:root {
  --background-color: #f6f6f8;
  --background-dark: #111621;
  --button-color :#2463eb;
  --transition: all 0.3s ease-in-out;
}

body{
  background: var(--background-color);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
